Code to load and reformat the current datasets given into a unified format. We have decided this to be

cid, label, features...

Note we write with index=False so we dont add the panadas deafult index column

In [116]:
import pandas as pd
import numpy as np
import sys

sys.path.append("../../")  # trick to import clairvoya from internal notebook directory
import clairvoya.datasetup

# Universe Sample 1 (background_url_tech_features)

In [117]:
background_url = pd.read_csv('../data/background_url.csv')
background_url.head()

   id  cid                              url  is_spam  has_financial
0   0    3            portcullisgates.co.uk        0              1
1   3    6               naturallymed.co.uk        0              1
2   5    9             nsconstruction.co.uk       -1              1
3   7   11  copplestoneprimaryschool.ik.org        1              1
4   9   16                hiddenideas.co.uk        0              1

In [118]:
tech_features = pd.read_csv('../data/background_url_tech_features.csv')
tech_features.head()

,Unnamed: 0,cid,source,label,url,cid/tech/ecommerce,url/tech/traffic_rank,url/tech/conversion_tracking,url/tech/html_ids,url/tech/html_classes,...,url/tech/platform_count,url/tech/subscribe,url/tech/univ_analytics,url/tech/tech_sum,url/tech/likes,url/tech/feedback,url/tech/analytics_count,url/tech/video_count,url/tech/mobile_aware,set_
0,237507,900500,background_url,0,bureauveritas.com,0,5.178894,0,1.863323,2.276462,...,3,0,0,1,3.831742,0,0,0,0,train
1,781027,2816195,background_url,0,pyruby.co.uk,0,6.796991,0,1.431364,2.025306,...,0,0,0,1,0.000000,0,0,0,0,train
2,758158,2713126,background_url,0,movency.co.uk,0,6.796991,0,0.000000,0.000000,...,0,0,0,0,0.000000,0,0,0,0,test
3,98960,310624,background_url,0,mlconsulting.co.uk,0,6.796991,0,0.000000,1.579784,...,0,0,0,1,0.000000,0,0,0,1,train
4,433287,1680008,background_url,0,archer-consulting.co.uk,0,6.796991,0,1.447158,1.973128,...,1,0,0,1,0.000000,0,0,0,0,train

In [119]:
tech_features.describe()

,Unnamed: 0,cid,label,cid/tech/ecommerce,url/tech/traffic_rank,url/tech/conversion_tracking,url/tech/html_ids,url/tech/html_classes,url/tech/login,url/tech/platform_count,url/tech/subscribe,url/tech/univ_analytics,url/tech/tech_sum,url/tech/likes,url/tech/feedback,url/tech/analytics_count,url/tech/video_count,url/tech/mobile_aware
count,909480.00000,909480.000000,909480,909480.000000,909480.000000,909480.000000,909480.000000,909480.000000,909480.000000,909480.000000,909480.000000,909480.000000,909480.000000,909480.000000,909480.000000,909480.000000,909480.000000,909480.000000
mean,454739.50000,1696266.596364,0,0.046376,6.753799,0.016050,0.704947,0.796207,0.167613,0.578400,0.051358,0.078383,0.416457,0.385266,0.001360,0.036302,0.036987,0.211653
std,262544.40575,997501.990968,0,0.210298,0.331560,0.196549,0.703596,0.796138,0.373523,1.194524,0.220727,0.268774,0.492971,1.028106,0.036855,0.204889,0.195563,0.479388
min,0.00000,3.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,227369.75000,877426.250000,0,0.000000,6.796991,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,454739.50000,1717001.500000,0,0.000000,6.796991,0.000000,0.698970,0.698970,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,682109.25000,2349451.250000,0,0.000000,6.796991,0.000000,1.322219,1.544068,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,909479.00000,4289281.000000,0,1.000000,7.406857,127.000000,3.741782,3.625827,1.000000,8.000000,1.000000,1.000000,1.000000,7.973324,1.000000,4.000000,3.000000,2.000000

In [120]:
tech_features_formatted = tech_features.drop(["Unnamed: 0", "source", "url", "set_"], axis=1)
tech_features_formatted.head()

,cid,label,cid/tech/ecommerce,url/tech/traffic_rank,url/tech/conversion_tracking,url/tech/html_ids,url/tech/html_classes,url/tech/login,url/tech/platform_count,url/tech/subscribe,url/tech/univ_analytics,url/tech/tech_sum,url/tech/likes,url/tech/feedback,url/tech/analytics_count,url/tech/video_count,url/tech/mobile_aware
0,900500,0,0,5.178894,0,1.863323,2.276462,0,3,0,0,1,3.831742,0,0,0,0
1,2816195,0,0,6.796991,0,1.431364,2.025306,1,0,0,0,1,0.000000,0,0,0,0
2,2713126,0,0,6.796991,0,0.000000,0.000000,0,0,0,0,0,0.000000,0,0,0,0
3,310624,0,0,6.796991,0,0.000000,1.579784,0,0,0,0,1,0.000000,0,0,0,1
4,1680008,0,0,6.796991,0,1.447158,1.973128,0,1,0,0,1,0.000000,0,0,0,0

In [121]:
tech_features_formatted.columns

Index([u'cid', u'label', u'cid/tech/ecommerce', u'url/tech/traffic_rank',
       u'url/tech/conversion_tracking', u'url/tech/html_ids',
       u'url/tech/html_classes', u'url/tech/login', u'url/tech/platform_count',
       u'url/tech/subscribe', u'url/tech/univ_analytics', u'url/tech/tech_sum',
       u'url/tech/likes', u'url/tech/feedback', u'url/tech/analytics_count',
       u'url/tech/video_count', u'url/tech/mobile_aware'],
      dtype='object')

In [122]:
tech_features_formatted.to_csv("../data/background_url_tech_features_formatted.csv", index=False)

# Small Labeled Sample (test_data.csv)

In [123]:
test_data_1 = pd.read_csv('../data/test_data.csv')
test_data_1.head()

,Unnamed: 0,added__orig_index,cid,label,cid/tech/ecommerce,url/tech/traffic_rank,url/tech/conversion_tracking,url/tech/html_ids,url/tech/html_classes,url/tech/login,url/tech/platform_count,url/tech/subscribe,url/tech/univ_analytics,url/tech/tech_sum,url/tech/likes,url/tech/feedback,url/tech/analytics_count,url/tech/video_count,url/tech/mobile_aware
0,0,1,899001,1,1,4.550876,0,1.672098,2.296665,1,6,1,0,1,5.264343,0,1,0,0
1,1,3,1703999,1,0,7.154740,0,0.477121,1.204120,0,0,0,0,1,0.000000,0,0,0,0
2,2,4,2247971,1,0,6.422567,0,2.053078,1.477121,1,0,0,0,0,0.000000,0,1,0,0
3,3,5,308163,1,0,6.796991,0,0.000000,0.000000,0,0,0,0,0,0.000000,0,0,0,0
4,4,6,1935839,1,0,6.796991,0,1.000000,1.000000,0,0,0,0,0,0.000000,0,0,0,0

In [124]:
test_data_1.describe()

,Unnamed: 0,added__orig_index,cid,label,cid/tech/ecommerce,url/tech/traffic_rank,url/tech/conversion_tracking,url/tech/html_ids,url/tech/html_classes,url/tech/login,url/tech/platform_count,url/tech/subscribe,url/tech/univ_analytics,url/tech/tech_sum,url/tech/likes,url/tech/feedback,url/tech/analytics_count,url/tech/video_count,url/tech/mobile_aware
count,4311.000000,4311.000000,4311.000000,4311.000000,4311.000000,4311.000000,4311.000000,4311.000000,4311.000000,4311.000000,4311.000000,4311.000000,4311.000000,4311.000000,4311.000000,4311.000000,4311.000000,4311.000000,4311.000000
mean,2155.000000,9386.961726,1506337.963118,0.158664,0.178149,6.589576,0.047089,1.222470,1.474927,0.527256,2.178613,0.223614,0.198562,0.773370,1.480287,0.003248,0.101369,0.131292,0.508699
std,1244.622834,5385.596134,767799.022613,0.365405,0.382682,0.486168,0.220441,0.641616,0.713691,0.499314,1.745958,0.416715,0.398964,0.418699,1.545761,0.056901,0.321215,0.362285,0.656826
min,0.000000,1.000000,66.000000,0.000000,0.000000,2.346353,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1077.500000,4907.000000,901818.500000,0.000000,0.000000,6.401604,0.000000,0.954243,1.204120,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2155.000000,8475.000000,1642784.000000,0.000000,0.000000,6.796991,0.000000,1.380211,1.698970,1.000000,2.000000,0.000000,0.000000,1.000000,1.447158,0.000000,0.000000,0.000000,0.000000
75%,3232.500000,14429.500000,1956912.000000,0.000000,0.000000,6.796991,0.000000,1.672098,1.982271,1.000000,3.000000,0.000000,0.000000,1.000000,2.793430,0.000000,0.000000,0.000000,1.000000
max,4310.000000,20452.000000,4156878.000000,1.000000,1.000000,7.376553,2.000000,3.000434,2.848189,1.000000,8.000000,1.000000,1.000000,1.000000,6.883299,1.000000,3.000000,2.000000,2.000000

In [125]:
pd.value_counts(test_data_1[['label']].values.ravel())

0    3627
1     684
dtype: int64

In [126]:
test_data_1_formatted = test_data_1.drop(["Unnamed: 0", "added__orig_index"], axis=1)
test_data_1_formatted.head()

,cid,label,cid/tech/ecommerce,url/tech/traffic_rank,url/tech/conversion_tracking,url/tech/html_ids,url/tech/html_classes,url/tech/login,url/tech/platform_count,url/tech/subscribe,url/tech/univ_analytics,url/tech/tech_sum,url/tech/likes,url/tech/feedback,url/tech/analytics_count,url/tech/video_count,url/tech/mobile_aware
0,899001,1,1,4.550876,0,1.672098,2.296665,1,6,1,0,1,5.264343,0,1,0,0
1,1703999,1,0,7.154740,0,0.477121,1.204120,0,0,0,0,1,0.000000,0,0,0,0
2,2247971,1,0,6.422567,0,2.053078,1.477121,1,0,0,0,0,0.000000,0,1,0,0
3,308163,1,0,6.796991,0,0.000000,0.000000,0,0,0,0,0,0.000000,0,0,0,0
4,1935839,1,0,6.796991,0,1.000000,1.000000,0,0,0,0,0,0.000000,0,0,0,0

In [127]:
test_data_1_formatted.to_csv("../data/test_data_formatted.csv", index=False)

# Joining the Datasets

We have positives, alot of unlabeled and some negatives, with overlap. We need to combine the two. We now have 3 labels which we choose to label

* 1 - positive
* 0 - unlabeled
* -1 - negative

The negative data is just to be used for the test set. We also have overlapping (but not perfectly) data frames. As a result we choose to join the two dataframes, then drop the duplicates from the universe.

In [128]:
features_cids = list(tech_features_formatted["cid"])
for cid in test_data_1_formatted["cid"]:
    if not cid in features_cids:
        print 'Not a perfect overlap, first missing cid is ', cid
        break

Not a perfect overlap, first missing cid is  532129.0

In [129]:
td1_f = test_data_1_formatted
uni_f = tech_features_formatted

td1_f.loc[td1_f.label==0,'label']=-1  # set negatives to -1 (0 is unlabeled now)

In [130]:
td1_uni = td1_f.append(uni_f, ignore_index=True)
td1_uni.describe()

,cid,label,cid/tech/ecommerce,url/tech/traffic_rank,url/tech/conversion_tracking,url/tech/html_ids,url/tech/html_classes,url/tech/login,url/tech/platform_count,url/tech/subscribe,url/tech/univ_analytics,url/tech/tech_sum,url/tech/likes,url/tech/feedback,url/tech/analytics_count,url/tech/video_count,url/tech/mobile_aware
count,913791.000000,913791.000000,913791.000000,913791.000000,913791.000000,913791.000000,913791.000000,913791.000000,913791.000000,913791.000000,913791.000000,913791.000000,913791.000000,913791.000000,913791.000000,913791.000000,913791.000000
mean,1695370.568347,-0.003221,0.046998,6.753024,0.016196,0.707388,0.799409,0.169310,0.585949,0.052171,0.078950,0.418140,0.390432,0.001369,0.036609,0.037432,0.213054
std,996627.285703,0.068610,0.211634,0.332648,0.196680,0.704210,0.797127,0.375026,1.202729,0.222371,0.269661,0.493254,1.033884,0.036975,0.205640,0.196787,0.480810
min,3.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,877752.000000,0.000000,0.000000,6.796991,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1716557.000000,0.000000,0.000000,6.796991,0.000000,0.698970,0.698970,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2346645.500000,0.000000,0.000000,6.796991,0.000000,1.322219,1.544068,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4289281.000000,1.000000,1.000000,7.406857,127.000000,3.741782,3.625827,1.000000,8.000000,1.000000,1.000000,1.000000,7.973324,1.000000,4.000000,3.000000,2.000000

And now we need to drop the duplicates

In [131]:
td1_uni_f = td1_uni.drop_duplicates('cid')
td1_uni_f.describe()

,cid,label,cid/tech/ecommerce,url/tech/traffic_rank,url/tech/conversion_tracking,url/tech/html_ids,url/tech/html_classes,url/tech/login,url/tech/platform_count,url/tech/subscribe,url/tech/univ_analytics,url/tech/tech_sum,url/tech/likes,url/tech/feedback,url/tech/analytics_count,url/tech/video_count,url/tech/mobile_aware
count,909495.000000,909495.000000,909495.000000,909495.000000,909495.000000,909495.000000,909495.000000,909495.000000,909495.000000,909495.000000,909495.000000,909495.000000,909495.000000,909495.000000,909495.000000,909495.000000,909495.000000
mean,1696254.783314,-0.003236,0.046376,6.753796,0.016050,0.704951,0.796215,0.167617,0.578420,0.051359,0.078383,0.416460,0.385278,0.001360,0.036306,0.036989,0.211666
std,997505.191129,0.068772,0.210299,0.331563,0.196548,0.703598,0.796143,0.373526,1.194542,0.220730,0.268774,0.492972,1.028116,0.036854,0.204897,0.195566,0.479409
min,3.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,877386.500000,0.000000,0.000000,6.796991,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1716996.000000,0.000000,0.000000,6.796991,0.000000,0.698970,0.698970,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2349450.000000,0.000000,0.000000,6.796991,0.000000,1.322219,1.544068,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4289281.000000,1.000000,1.000000,7.406857,127.000000,3.741782,3.625827,1.000000,8.000000,1.000000,1.000000,1.000000,7.973324,1.000000,4.000000,3.000000,2.000000

Random shuffle so we can easily take smaller samples confidently

In [132]:
_  = td1_uni_f.reindex(np.random.permutation(td1_uni_f.index))

In [133]:
# check we havent lost anything
td1_pos = len(td1_f[td1_f['label'] == 1])
td1_neg = len(td1_f[td1_f['label'] == -1])
td1_uni_pos = len(td1_uni[td1_uni['label'] == 1])
td1_uni_neg = len(td1_uni[td1_uni['label'] == -1])

print td1_pos == td1_uni_pos
print td1_neg == td1_uni_neg

True
True

In [134]:
td1_uni_f.to_csv("../data/test1_uni_f.csv", index=False)

# Large Dataset

two files, one with labels and one without and a new universe

In [136]:
large_data = pd.read_csv('../data/large_dataset.csv')
large_data.drop(["Unnamed: 0"], axis=1, inplace=True)
large_data.sort("cid", inplace=True)
large_data.head(20)

,cid,cid/fx/import_month_count,cid/fx/import_event_count,cid/fx/tariff_count,cid/fx/policy_count,cid/fx/export_ratio,cid/fx/foreign_currency,cid/fx/intl_office_count,cid/fx/intl_name,cid/fx/export_event_count
4636,10,0,0.000000,0.00000,0,0,0,0,0,0
78236,126,0,0.000000,0.00000,0,0,0,0,0,0
39794,165,0,0.000000,0.00000,0,0,0,0,0,0
45,181,0,0.000000,0.00000,0,0,0,0,0,0
93308,213,13,1.113943,0.30103,0,0,0,0,0,0
2013,229,0,0.000000,0.00000,0,0,0,0,0,0
54167,338,0,0.000000,0.00000,0,0,0,0,0,0
73405,356,0,0.000000,0.00000,0,0,0,0,0,0
25953,383,5,0.778151,0.60206,0,0,0,0,0,0
35015,387,0,0.000000,0.00000,0,0,0,0,0,0
77382,396,0,0.000000,0.00000,0,0,0,0,0,0
62710,404,0,0.000000,0.00000,0,0,0,0,0,0
35017,479,0,0.000000,0.00000,0,0,0,0,0,0
35016,479,0,0.000000,0.00000,0,0,0,0,0,0
15245,491,0,0.000000,0.00000,0,0,0,0,0,0
756,519,0,0.000000,0.00000,0,0,0,0,0,0
43380,527,0,0.000000,0.00000,0,0,0,0,0,0
49959,558,0,0.000000,0.00000,1,0,0,0,0,0
67576,574,0,0.000000,0.00000,0,0,0,0,0,0
10480,575,0,0.000000,0.00000,1,0,0,0,0,0

In [137]:
large_data.describe()

,cid,cid/fx/import_month_count,cid/fx/import_event_count,cid/fx/tariff_count,cid/fx/policy_count,cid/fx/export_ratio,cid/fx/foreign_currency,cid/fx/intl_office_count,cid/fx/intl_name,cid/fx/export_event_count
count,103239.000000,103239.000000,103239.000000,103239.000000,103239.000000,103239.000000,103239.000000,103239.000000,103239.000000,103239.000000
mean,1616240.372553,2.026221,0.196477,0.128246,0.052035,2.281726,0.007100,0.169839,0.018966,0.045708
std,767590.733860,5.584545,0.509118,0.353153,0.259470,12.144804,0.083962,1.688371,0.136404,0.254022
min,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1371885.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1652771.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2010971.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4836363.000000,25.000000,3.932930,2.903633,3.000000,144.870000,1.000000,97.000000,1.000000,4.110455

In [138]:
num_rows = len(large_data.index)
num_unique_cids = len(large_data.cid.unique())
print 'rows {}, uniques {}, difference {}'.format(num_rows, num_unique_cids, num_rows-num_unique_cids)

rows 103239, uniques 93948, difference 9291

In [139]:
large_data_duped = large_data.groupby("cid").agg(['count'])
lgd = large_data_duped['cid/fx/import_month_count']
duped_ids = lgd[lgd['count'] > 1]
duped_ids.head()

      count
cid
479       2
682       2
1666      2
5972      2
6376      2

In [140]:
large_data_labels = pd.read_csv('../data/large_dataset_labels.csv')
large_data_labels.drop(["Unnamed: 0"], axis=1, inplace=True)
large_data_labels.head(10)
print large_data_labels.label.value_counts()
print len(large_data_labels.index)

 0    64305
-1    35824
 1     5489
dtype: int64
105618

We need to deal with these duplicates, here 1 is positive, 0 is negative and -1 is an ambiguous outcome

In [141]:
large_data_labels_unique = large_data_labels.drop_duplicates(subset='cid', take_last=True)
print large_data_labels_unique.label.value_counts()
print len(large_data_labels_unique.index)

 0    57269
-1    31646
 1     5034
dtype: int64
93949

In [142]:
large_data_unique = large_data.drop_duplicates(subset='cid', take_last=True)
print len(large_data.index)
print len(large_data_labels_unique.index)

103239
93949

And the features

In [143]:
large_data_w_labels = pd.merge(large_data_labels_unique, large_data_unique, on='cid', how='inner')
print len(large_data_w_labels.index)
print large_data_w_labels.label.value_counts()
large_data_w_labels.head(10)

93948
 0    57268
-1    31646
 1     5034
dtype: int64

,cid,label,cid/fx/import_month_count,cid/fx/import_event_count,cid/fx/tariff_count,cid/fx/policy_count,cid/fx/export_ratio,cid/fx/foreign_currency,cid/fx/intl_office_count,cid/fx/intl_name,cid/fx/export_event_count
0,1513947,0,0,0.000000,0.000000,0,0.00,0,0,0,0
1,1522402,-1,0,0.000000,0.000000,0,25.08,0,0,0,0
2,1513431,0,0,0.000000,0.000000,0,0.00,0,0,0,0
3,1378671,0,0,0.000000,0.000000,0,0.00,0,0,0,0
4,1605193,1,0,0.000000,0.000000,1,0.00,0,0,0,0
5,2912638,-1,0,0.000000,0.000000,0,0.00,0,0,0,0
6,1314685,-1,0,0.000000,0.000000,0,0.00,0,0,0,0
7,907802,0,0,0.000000,0.000000,0,0.00,0,0,0,0
8,904774,-1,5,0.778151,0.778151,0,0.00,0,0,0,0
9,2009849,0,0,0.000000,0.000000,0,0.00,0,0,0,0

Now loose the 0's (ambiguous) labels

In [144]:
large_data_w_labels_pn = large_data_w_labels[large_data_w_labels.label >= 0]
print len(large_data_w_labels_pn.index)
print large_data_w_labels_pn.label.value_counts()
large_data_w_labels_pn.head(10)

62302
0    57268
1     5034
dtype: int64

,cid,label,cid/fx/import_month_count,cid/fx/import_event_count,cid/fx/tariff_count,cid/fx/policy_count,cid/fx/export_ratio,cid/fx/foreign_currency,cid/fx/intl_office_count,cid/fx/intl_name,cid/fx/export_event_count
0,1513947,0,0,0,0,0,0,0,0,0,0
2,1513431,0,0,0,0,0,0,0,0,0,0
3,1378671,0,0,0,0,0,0,0,0,0,0
4,1605193,1,0,0,0,1,0,0,0,0,0
7,907802,0,0,0,0,0,0,0,0,0,0
9,2009849,0,0,0,0,0,0,0,0,0,0
10,1440642,0,0,0,0,0,0,0,0,0,0
11,2275309,0,0,0,0,0,0,0,0,0,0
14,1445354,0,1,0,0,0,0,0,0,0,0
21,1975139,0,0,0,0,0,0,0,0,0,0

Now we want to relabel the negatives (0) to -1

In [145]:
ld_df = large_data_w_labels_pn
print ld_df.label.value_counts()
ld_df.loc[ld_df.label==0,'label'] = -1  # set negatives to -1 (0 is unlabeled now)
print ld_df.label.value_counts()

0    57268
1     5034
dtype: int64
-1    57268
 1     5034
dtype: int64

In [146]:
large_data_w_labels.to_csv("../data/large_test_formatted.csv", index=False)

Add in the universe

In [147]:
large_data_universe = pd.read_csv('../data/large_dataset_universe.csv')
large_data_universe.drop(["Unnamed: 0"], axis=1, inplace=True)
large_data_universe['label'] = np.zeros(len(large_data_universe.index))
large_data_universe.describe()

,cid,cid/fx/import_month_count,cid/fx/import_event_count,cid/fx/tariff_count,cid/fx/policy_count,cid/fx/export_ratio,cid/fx/foreign_currency,cid/fx/intl_office_count,cid/fx/intl_name,cid/fx/export_event_count,label
count,909480.000000,909480.000000,909480.000000,909480.000000,909480.000000,909480.000000,909480.000000,909480.000000,909480.000000,909480.000000,909480
mean,1696266.596364,0.790668,0.076967,0.050090,0.040575,1.028953,0.007025,0.107593,0.013684,0.017761,0
std,997501.990968,3.617218,0.331526,0.227985,0.231959,8.410825,0.083520,1.325724,0.116174,0.156371,0
min,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
25%,877426.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
50%,1717001.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
75%,2349451.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
max,4289281.000000,25.000000,3.977541,2.985875,3.000000,144.870000,1.000000,224.000000,1.000000,4.189097,0

In [148]:
x = list(large_data_universe.columns.values)
x.remove('cid')
x.remove('label')
x = ['cid', 'label'] + x
large_data_universe = large_data_universe.reindex_axis(x, axis=1)

In [151]:
ld_uni = ld_df.append(large_data_universe, ignore_index=True)
ld_uni_f = ld_uni.drop_duplicates('cid')

_  = ld_uni_f.reindex(np.random.permutation(ld_uni_f.index))
clairvoya.datasetup.scale_dataframe_features(ld_uni_f)
print ld_uni_f.label.value_counts()
print len(large_data_universe.index)
ld_uni_f.head()

 0    863776
-1     57268
 1      5034
dtype: int64
909480

,cid,label,cid/fx/import_month_count,cid/fx/import_event_count,cid/fx/tariff_count,cid/fx/policy_count,cid/fx/export_ratio,cid/fx/foreign_currency,cid/fx/intl_office_count,cid/fx/intl_name,cid/fx/export_event_count
0,1513947,-1,0,0,0,0.000000,0,0,0,0,0
1,1513431,-1,0,0,0,0.000000,0,0,0,0,0
2,1378671,-1,0,0,0,0.000000,0,0,0,0,0
3,1605193,1,0,0,0,0.333333,0,0,0,0,0
4,907802,-1,0,0,0,0.000000,0,0,0,0,0

In [152]:
ld_uni_f.to_csv("../data/large_uni_f.csv", index=False)